.card-gallery {
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.card-block {
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    float:left;
    margin: 5px;
}

.selected {
    -webkit-box-shadow: 3px 3px 7px rgba(90,195,48,1);
    box-shadow: 3px 3px 7px rgba(90,195,48,1);
    background-color: rgba(90,195,48,0.3);
}

.striped{
    -webkit-background-clip: text;
    color: transparent !important;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 30%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 30%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 30%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, 1) 30%, transparent 50%, transparent);
}

.striped.red {
    background-color: #e42f45;
}

.striped.blue {
    background-color: #00769a;
}

.striped.green {
    background-color: #44c752;
}

.empty {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
}

.empty.red {
    -webkit-text-stroke-color: #e42f45;
}

.empty.blue {
    -webkit-text-stroke-color: #00969a;
}

.empty.green {
    -webkit-text-stroke-color: #44c782;
}

.solid {
    font-size: 50px;
}

.centercolumn {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.card {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.red {
	color: #e42f45;
}

.blue {
	color: #00969a;
}

.green {
	color: #44c782;
}

.one-item {
	height: 100%;
	background-size: 2.5px;
	line-height: 150px;
}

.two-item {
	height: 50%;
	background-size: 4px;
	line-height: 75px;
}

.three-item {
	height: 33.333%;
	background-size: 6px;
	line-height: 50px;
}

.diamonds:after {
    content: "♦";
}
 
.hearts:after {
    content: "♥";
}
 
.clubs:after {
    content: "♣";
}
 
.spades:after {
    content: "♠";
}
